.categoryItem {
  margin: 0.25rem 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  &__description {
    display: flex;
  }
}

//  popular category single item
.popularCategory {
  &__title {
    font-family: Amiko;
    font-size: 16px;
    line-height: 21px;
    color: #2c3452;
    margin-top: 0.94rem;
    margin-bottom: 1.562rem;
  }
}

// best seller
.h4 {
  color: #2c3452;
  font-family: Amiko;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.itemimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemimage > img {
  height: 200px;
}
.prize {
  font-family: Amiko;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.faded-prize {
  font-family: Amiko;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  // text-decoration-line: line-through;
  color: #c5c5c5;
}

.item-percentage {
  font-family: Amiko;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #45b75e;
}
.ratingwrapper {
  margin-bottom: 2.03rem;
}
