.categoryItem {
  margin: 0.25rem 0;
  padding: 0.5rem 0.2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &__description {
    display: flex;
  }
  &__icon {
    padding-right: 0.5rem;
    width: 30px;
  }
}

.categoryItem__title:hover {
  color: red;
}

//  popular category single item
.popularCategory {
  &__title {
    font-family: Amiko;
    font-size: 16px;
    line-height: 21px;
    color: #2c3452;
    margin-top: 0.94rem;
    margin-bottom: 1.562rem;
  }
}

// best seller
.best-seller-container {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(233, 238, 245, 0.25);
  border-radius: 15px;
  margin-bottom: 2.03rem;
  width: 21%;
  grid-gap: 40px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.h4 {
  color: #2c3452;
  font-family: Amiko;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.itemimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemimage > img {
  height: 200px;
}
.prize {
  font-family: Amiko;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.faded-prize {
  font-family: Amiko;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  // text-decoration-line: line-through;
  color: #c5c5c5;
}

.item-percentage {
  font-family: Amiko;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #45b75e;
}
