.ecommerce-zone {
  background-color: #be11e9 !important;
  height: 345px;
  display: flex;
  justify-content: space-between;
  background: url(../../images/purpleblub.svg);
  background-size: cover;
  border-radius: 30px;
  @media screen and (max-width: 1000px) {
    display: none;
  }

  &__main-description {
    margin-top: 4.5rem;
    margin-left: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  &__header {
    font-family: Amiko;
    font-weight: bold;
    font-size: 48px;
    line-height: 85px;
    color: #ffffff;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
  &__subtext {
    font-family: Amiko;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
  }
  &__ezone-image {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
