.newsletter {
  background: linear-gradient(91.62deg, #ef5e0d 26.96%, #f03800 85.31%);
  height: 265px;
  &__body {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__sign-up-body {
    //   margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__header {
    font-family: Amiko;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: #ffffff;
  }
  &__subtext {
    font-family: Amiko;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.005em;
    color: #ffffff;
  }

  &__input {
    border: none;
    outline: none;
    height: 29px;
    padding-left: 0.7rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
    font-family: Amiko;
    font-size: 18px;
    line-height: 29px;
    color: rgba(154, 154, 154, 0.74);
  }
  &__follow-us-text {
    font-family: Amiko;
    font-size: 14px;
    line-height: 29px;
    color: #ffffff;
    margin: 0;
  }
  &__social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.bi {
  background: rgba(6, 6, 6, 0.08);
  color: #fff;
  border-radius: 50%;
 padding: 3px 5px;
}
