.bi {
  margin-left: 1.5rem;
}

.container {
  margin-top: 3rem;
}
.search-input {
  // border: none;
  width: 100%;
  margin-left: 1rem;
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #3e3e3e;
}
