
.home {
  padding-top: 2.5rem;
  @include media-breakpoint-down(lg) {
    // width: 350px;
  }

  @media screen and (min-width: 2000px) {
    width: 1440px;
    margin: auto;
  }
  &__hero--right {
    @include media-breakpoint-down(sm) {
    width: 100%
  }
  @include media-breakpoint-down(md) {
    width: 80%
  }
  @include media-breakpoint-down(lg) {
    width: 100%;
    margin-top: 3rem;
  }
  }
  &__header {
    width: 72%;
  }
  &__popular-category-header {
    font-family: Amiko;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 37px;
    margin-bottom: 2.812rem;
    color: #2c3452;
  }
  &__bestseller {
    grid-gap: 50px;
  }
  &__best-seller-category-header {
    font-family: Amiko;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 37px;
    margin-bottom: 2.86rem;
    color: #2c3452;
  }
}
.slider {
  width: 70%;
  @media screen and (max-width: 768px){
    margin-left: 0rem!important;
    width: 100%;
    margin-top: 2rem;
  }
}

.moreCat {
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreCat > i {
  padding: 0px 8px 12px 0;
}
