.home {
  padding-top: 2.5rem;
  &__header {
    width: 72%;
  }
  &__popular-category-header {
    font-family: Amiko;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 37px;
    margin-bottom: 2.812rem;
    color: #2c3452;
  }
  &__bestseller {
    grid-gap: 50px;
  }
  &__best-seller-category-header {
    font-family: Amiko;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 37px;
    margin-bottom: 2.86rem;
    color: #2c3452;
  }
}
.slider {
  width: 70%;
}
// .search-ssm {
//   justify-content: start!important;
// }

.moreCat {
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreCat > i {
  padding: 0px 8px 12px 0;
}
